<header role="banner" tabindex="0" class="max-width pad-t-1-2 pad-b-1-2 push">
  <div class="grid text-center">
    <nav tabindex="0" id=nav role="navigation" class="unit xs-1 s-1 m-1 l-1-4 xl-1-4 island">
      <ul class="nav-wrapper list-group text-upper milli">
        <li class="pad-t pad-b"><a href="{{site.baseurl}}/index">Work</a></li>
        <li class="pad-t pad-b"><a href="{{site.baseurl}}/about" class="active">About</a></li>
      </ul>
    </nav>

    <div class="logo unit xs-1 s-1 m-1 l-1-2 xl-1-2 island">
      <div class="tera">
        <a href="{{site.baseurl}}/index" alt="logo">I'm Dee</a>
      </div>
    </div>
  </div>
</header>
