<footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" role="contentinfo" class="micro gutter-1-2">
  <div class="grid max-width micro gutter island-1-2 text-center">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <h2 class="micro gutter text-upper pad-t copyright">ⓒ<span itemprop="name"> 2020 Diandra Thompson</h2>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
      <a class="micro gutter text-center pad-t emailLink" itemprop="email" href="mailto:diandrathompson@imdee.ca">diandranthompson@gmail.com</a>
    </div>
  </div>
</footer>
