<section class="grid grid-bottom text-center content">
  <div class="container unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
    <a href="project.html"><img src="images/placeholder.png" alt="placeholder" class="image"></a>
    <div class="middle">
      <div class="text">TITLE</div>
      <p class="copy">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="container unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
    <a href="project-two.html"><img src="images/placeholder.png" alt="placeholder" class="image"></a>
    <div class="middle">
      <div class="text">TITLE</div>
      <p class="copy">Lorem ipsum dolor sit</p>
    </div>
  </div>

<div class="container-large unit xs-1 s-1 m-1 l-1 xl-1">
  <a href="project.html"><img src="images/placeholder.png" alt="placeholder" class="image"></a>
  <div class="middle">
    <div class="text">TITLE</div>
    <p class="copy">Lorem ipsum dolor sit</p>
  </div>
</div>

<div class="container unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
  <a href="project.html"><img src="images/placeholder.png" alt="placeholder" class="image"></a>
  <div class="middle">
    <div class="text">TITLE</div>
    <p class="copy">Lorem ipsum dolor sit</p>
  </div>
</div>
<div class="container unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
  <a href="project.html"><img src="images/placeholder.png" alt="placeholder" class="image"></a>
  <div class="middle">
    <div class="text">TITLE</div>
    <p class="copy">Lorem ipsum dolor sit</p>
  </div>
</div>
</section>
