<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <title>I'm Dee</title>
  <meta name="viewport" content="A graphic designer from Ottawa, Ontario.">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/favicon-32.png">
</head>
<body>

  {% include 404-header.html %}

  <main>
    {{content}}
  </main>

  {% include footer.html %}

</body>
</html>

<script type="application/jd+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Diandra Nicole Thompson",
    "jobTitle": "Graphic Designer",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "50 Aldburn Place",
      "addressLocality": "Kanata",
      "addressRegion": "ON",
      "addressCountry": "CA",
      "postalCode": "K2L 2Z2"
    },
    "email": "diandrathompson@imdee.ca",
    "tel": "+6139146855",
    "website": "http://imdee.ca/"
    ]
  }
</script>
